html {
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: url(https://img.freepik.com/premium-vector/fire-flames-burning-red-hot-sparks-realistic-abstract-background_29865-1703.jpg);
    color: red;
}

#whorehouse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#suck {
    grid-column: 1/2;
    grid-row: 1/2;
}
#fuck {
    grid-column: 2/3;
    grid-row: 1/2;
}
#cuck {
    grid-column: 3/4;
    grid-row: 1/2;
}
