*{
    margin: 0;
    padding: 0;;
    text-align: center;
}
#salad-fingers {
    border: 2px solid green;
    padding: 100px;
    margin: 100px
}
#cock {
    border: 4px solid greenyellow;
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 100px;
    padding-right: 20px;
    margin: 10px
}
#box {
    border: 4px solid chartreuse;
    height: 20px;
    width: 20px;
    text-align: center;
    display: inline-block
    
}
#cum {
    width: 400px;
    position: fixed;
}
@media  only screen and (min-width: 400px) {
    #hot-cock{
        position: fixed;
        text-align: center;
        bottom: 600px
    }
    .hot {
        position: relative;
        border: 4px dashed greenyellow;
        margin-left: 10px;
        text-align: center;
        left: 300px
    }
    .thick {
        position: relative;
        border: 4px dashed red;
        margin-left: 10px;
        text-align: center;
        left: 600px
    }
    .cum {
        position: relative;
        border: 4px dashed yellow;
        margin-left: 10px;
        text-align: center;
        left: 900px
    }
}
@media only screen and (min-width: 650px){
    .thick {
        border: 10px solid yellowgreen
    }
}