html {
    text-align: center;
    font-size: larger;
    font-family: fantasy;
}
#header {
    background-image: url(https://media.tenor.com/5RKB-LuSHb0AAAAC/fire.gif);
    color: red;
    height: 100px;
    position:static;
}
#instructions {
    position: static;
}
#clickCounter {
    position: static;
}
#idubbbz {
    position:-webkit-sticky;
}